<div (click)="onScreenClick()">
  <div class="overlay visible">
    <p id="overlay">Greetings, Summoner!</p>
    <div class="overlay-small">
      <p>(Click anywhere on the screen.)</p>
    </div>
  </div>
</div>

<div class=" body-home flex flex-row bg-no-repeat h-full w-full top-0 left-0 fixed align-middle text-center">

  <div class="w-1/4 min-w-96 grow-0">
    <div class="card-back w-full h-full overflow-auto">
      <p class="text-5xl w-1/4 min-w-96 p-12 fixed">Leaderboard</p>
      <img class="h-full w-full" src="../../assets/images/border.png">
    </div>
  </div>

  <div class="w-3/4 flex flex-col h-full">

    <div class="grow-0 flex-wrap pt-20">
      <p class="text-9xl leading-none pb-16">Memory Legends:<br>Bang Bang!</p>
    </div>
    <div class="grow-0 h-20">
      <h5 class="text-5xl text-gray-50 border-teal-950 drop-shadow-md">Select Rank:</h5>
    </div>

    <div class="grow h-14 -pt-24 pb-12 overflow-auto">
      <div class="flex flex-col flex-1 w-full h-full px-24 space-y-4">
        <div class="flex w-full h-full" (click)="onScreenClick(); stopMusic()" *ngFor="let config of gameConfigs">
            <a (click)="onScreenClick(); stopMusic();" class="rank-button w-full h-full" routerLink="/game" [queryParams]="{ rows: config.rows, columns: config.columns }">
              <span class='rank-border h-full p-2'>
                <span class='rank-text text-4xl place-content-center' >
                  {{ config.name }}
                </span>
              </span>
            </a>
        </div>
      </div>
    </div>

  </div>
</div>
