/* --------------------------- HTML styles ---------------------- */

/* font used */
@font-face {font-family: "Friz Quadrata";
    src: url("../MEDIA/FONT/Friz-Quadrata.eot"); /* IE9*/
    src: url("../MEDIA/FONT/Friz-Quadrata.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../MEDIA/FONT/Friz-Quadrata.woff2") format("woff2"), /* chrome、firefox */
    url("../MEDIA/FONT/Friz-Quadrata.woff") format("woff"), /* chrome、firefox */
    url("../MEDIA/FONT/Friz-Quadrata.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../MEDIA/FONT/Friz-Quadrata.svg#Friz Quadrata") format("svg"); /* iOS 4.1- */
}

/* HTML styles in general */
html {
    cursor: url(../MEDIA/CURSOR/normal.cur), auto;
    font-family: 'Friz Quadrata';
    background-size: cover;
    margin-bottom: 120px;
}

/* Body styles in general */
body {
    
    margin: 0;
    background-attachment: fixed;
    background:
    linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
    ),
    url('../MEDIA/IMAGES/BG/bg.gif') no-repeat center fixed;
    background-size: cover;
    width: auto;
    height: auto;
}

/* Hide the scrollbar */
body::-webkit-scrollbar {
    display: none
}

/* --------------------------- HEADING styles ---------------------- */

/* Style of the page title */
h1 {
    margin-top: 120px;
    text-align: center;
    font-size: 6em;
    font-weight: bold;
    background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%, 
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
);
    color:transparent;
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-stroke-width:.1px;
    -webkit-text-stroke-color: #664e2a;
}

h4 {
    margin-top: -40px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%, 
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
);
    color:transparent;
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-stroke-width:.1px;
    -webkit-text-stroke-color: #664e2a;
}

/* --------------------------- rank CONTAINER styles ---------------------- */

/* Styles for the whole rank container */
.rank {
    margin-top: -80px;
    display: flex;
    justify-content: center;
}

/* Add margin for each items in the container */
.rank > div {
    margin: 5px;
}

/* Styles for each of the items in the container */
.rank {
    color: #462523;
    -webkit-text-stroke-width:0.5px;
    font-size: 2.5em;
}

/* Make a button style to the a element */
.rank-option a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 2px;
    background-color: #cb9b51;
    margin-top: 27px;
    padding: 10px 22px;
    border: 4px double #462523;
    cursor: url("../MEDIA/CURSOR/alt.cur"), auto;
    transition: all 0.1s ease;
}

/* Add hover effect */
.rank-option a:hover {
    background: rgba(255, 198, 9, 0.17);
    border: 4px double #cb9b51;
    color: #ffffff;
}

/* --------------------------- OVERLAY styles ---------------------- */

/* General styles for the overlays */
.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    text-align: center;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 500ms, font-size 500ms;
}

/* Styles for the texts */
h5{
    margin-top: 15%;
    position: fixed;
    background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%, 
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
    );
    color:transparent;
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-stroke-width:.1px;
    -webkit-text-stroke-color: #382f21;
}

/* Styles for the small texts */
.overlay-small {
    font-size: .2em;
    margin-top: 14%;
    color: #cb9b51;
    display: flex;
    justify-content: center;  
    flex-direction: column;
    align-items: center;
}

/* Animation for the overlay */
.overlay.visible {
    display: flex;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, .95);
        font-size: 10em;
    }
}

/* ------------------ Make HTML responsive ------------------ */
@media (max-width: 550px) {
    h1{
        font-size: 4em;
    }
    h4 {
        margin-top: -20px;
        font-size: 2em;
    }
    .rank {
        margin-top: -50px;
        flex-direction: column;
        align-items: center;
    }
    .rank > div {
        margin: -8px;
    }
    .overlay-small{
        margin-top: 30%;
    }
}