/* Applying the styles to all elements */
* {
  box-sizing: border-box;
  cursor: url(../../assets/cursors/normal.cur), auto;
  font-family: 'Friz Quadrata';
}

/* --------------------------- HEADING styles ---------------------- */

/* Style of the page title */
h1 {
  margin-top: 25px;
  text-align: center;
  font-size: 6em;
}

/* --------------------------- INFO CONTAINER styles ---------------------- */

/* Styles for the whole info container */
.info-container {
  margin-top: -40px;
  margin-bottom: -10px;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

/* Styles for each of the items in the container */
.info {
  color: #664e2a;
  -webkit-text-stroke-width:0.5px;
  -webkit-text-stroke-color: #f6f2c0;
  font-size: 2.2em;
}

/* --------------------------- MAIN CONTAINER styles ---------------------- */

/* Styles for the whole container */
.container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 500px;
}

/* --------------------------- CARD styles ---------------------- */

/* Styles for cards */
.card {
  position: relative;
  cursor: url("../../assets/cursors/alt.cur"), auto;
  height: 175px;
  width: 125px;
}

/* Styles for the faces of the cards */
.card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 350ms ease-in-out;
  backface-visibility: hidden;
}

/* Rotation style for the cards */
.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0);
}

/* Style for the back of the cards */
.card-back {
  background-color: rgba(0, 0, 0, .8);
}

/* Style for the border of the cards */
.border {
  position: fixed;
  height: 175px;
  width: 125px;
}

/* Style for the logo of the cards */
.logo{
  height: 75px;
  width: 75px;
  transition: width 100ms ease-in-out, height 100ms ease-in-out;
}

/* Increase the sixe of the logo when hover */
.card-back:hover .logo {
  height: 80px;
  width: 80px;
}

/* Fit the size of the images into size of the cards */
.card-value {
  height: 100%;
}

/* Rotate cards in order to show the back of it */
.card-front {
  transform: rotateY(180deg);
}

/* ------------------ Make HTML responsive ------------------ */

/* @media (max-width: 550px) {
  .overlay-small{
    margin-top: 20%;
  }
} */
