/* Stylizing the body of the html */
.body-game {
  animation: bg_slide 20s linear infinite 0s;
  animation-timing-function: ease-in-out;
  /* background-color: #664e2a; */
  background-size: cover;
}

/* Apply a slideshow effect on the background image */
@keyframes bg_slide{
  0%{
    background-image: url("../../assets/images/bg/1.jpg");
  }
  25%{
    background-image: url("../..//assets/images/bg/2.jpg");
  }
  50%{
    background-image: url("../../assets/images/bg/3.jpg");
  }
  75%{
    background-image: url("../../assets/images/bg/4.jpg");
  }
  100%{
    background-image: url("../../assets/images/bg/1.jpg");
  }
}

/* --------------------------- INFO CONTAINER styles ---------------------- */
/* Styles for each of the items in the container */
.info {
  color: #664e2a;
  -webkit-text-stroke-width:0.5px;
  -webkit-text-stroke-color: #f6f2c0;
}

/* --------------------------- MAIN CONTAINER styles ---------------------- */

/* Styles for the whole container */
.container {
  /* margin: 50px auto; */
  /* display: grid; */
  /* grid-template-columns: repeat(2, auto); */
  /* grid-gap: 10px; */
  /* justify-content: center; */
  /* perspective: 500px; */
}

/* --------------------------- CARD styles ---------------------- */

/* Styles for cards */
.card {
  /* height: 175px;
  width: 125px; */
}

/* Styles for the faces of the cards */
.card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  transition: transform 350ms ease-in-out;
  backface-visibility: hidden;
}

/* Rotation style for the cards */
.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0);
}

/* Style for the back of the cards */
.card-back {
  background-color: rgba(0, 0, 0, .7);
}

/* Style for the border of the cards */
.border-card {
  /* position: fixed; */
  /* height: 175px; */
  /* width: 125px; */
  cursor: url("../../assets/cursors/alt.cur"), auto;
}

/* Style for the logo of the cards */
.logo{
  /* height: 75px;
  width: 75px; */
  /* transition: width 100ms ease-in-out, height 100ms ease-in-out; */
  cursor: url("../../assets/cursors/alt.cur"), auto;
}

/* Increase the sixe of the logo when hover */
.logo {
  /* height: 80px; */
  /* width: 80px; */
}

/* Fit the size of the images into size of the cards */
/* .card-value {
  height: 100%;
} */

/* Rotate cards in order to show the back of it */
.card-front {
  transform: rotateY(180deg);
}

/* ------------------ Make HTML responsive ------------------ */

/* @media (max-width: 550px) {
  .overlay-small{
    margin-top: 20%;
  }
} */


/* .group {
  position: relative;
} */

/* ------------------ Overlay ------------------ */

.overlay-pause {
  display: none;
  transition: background-color 500ms, font-size 500ms;
}

/* Animation for the overlay */
.overlay-pause.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
  from {
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
  }
  to {
      background-color: rgba(0, 0, 0, 0.7);
      font-size: 10em;
  }
}
